<div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                <ul class="nav" id="side-menu">
                    <li style="padding: 10px 0 0;">
                        <a href="index.html" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i><span class="hide-menu">Dashboard</span></a>
                    </li>
                    <li>
                        <a href="profile.html" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i><span class="hide-menu">Profile</span></a>
                    </li>
                    <li>
                        <a href="/cours" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i><span class="hide-menu">Gestion Des Cours</span></a>
                    </li>
                    <li>
                        <a href="/etudiants" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i><span class="hide-menu">Gestion Des Etudiants </span></a>
                    </li>
                    <li >
				        <a class=" waves-effect" data-toggle="dropdown"  href="#"><i class="fa fa-table fa-fw" aria-hidden="true"></i><span class="hide-menu">Gestion Des Enseignant</span></a>
				        <ul class="treeview-menu"  style="width: 100%;">
				          <li><a href="/permanents">Permanents</a></li>
				          <li><a href="/vacataires">Vacatares</a></li>
				        </ul>
				      </li>
                    
                </ul>
                 
            </div>
        </div>